<%= form_with model: @animal, class: 'form' do |f|%>

<p id='form_intro'><%= form_intro %></p>

<section id='form_fields'>
<%= f.label :name %>
<%= f.text_field :name %>

<%= f.label :species %>
<%= f.text_field :species %>

<%= f.label :age %>
<%= f.text_field :age %>

<%= f.label :image %>
<%= f.text_field :image %>

<%= f.submit "Save Changes", class: "submit_button" %>
</section>

<%end%>
