<h1><%="#{@animal.name}"%></h1>
<ul id='animal_info'>
  <li>Species: <%="#{@animal.species}"%></li>
  <li>Age: <%="#{@animal.age}"%></li>
  <li><%= image_tag("#{@animal.image}", :alt => "picture of a #{@animal.species}") %></li>
</ul>
<p><%=link_to "back to list", animals_path%></p>
<p><%=link_to "edit #{@animal.name}", edit_animal_path%></p>
<p> <%= link_to "delete #{@animal.name}", animal_path(@animal.id), method: :delete, data: {confirm: "are you sure you want to delete #{@animal.name}?"} %></p>
